In [ ]:
%load_ext sql

In [ ]:
%env DATABASE_URL=postgresql://itversity_retail_user:retail_password@localhost:5433/itversity_retail_db

### Exercise 1 - Customer order count
### Get order count per customer for the month of 2014 January.

Tables - orders and customers

Data should be sorted in descending order by count and ascending order by customer id

Output should contain customer_id, customer_first_name, customer_last_name and customer_order_count

In [ ]:
%%sql
SELECT
    c.customer_id,
    c.customer_fname,
    c.customer_lname,
    count(o.order_id)
FROM
    customers c
    JOIN orders o ON c.customer_id = o.order_customer_id
where
    to_char(o.order_date, 'yyyy-mm') = '2014-01'
group by
    c.customer_id,
    c.customer_fname,
    c.customer_lname
order by
    count DESC,
    customer_id 
limit
    5;

### Exercise 2 - Dormant Customers
### Get the customer details who have not placed any order for the month of 2014 January

Tables - orders and customers

Data should be sorted in ascending order by customer_id

Output should contain all the fields from customers

In [ ]:
%%sql 
select *
from customers c
    left join orders o on c.customer_id = o.order_customer_id
where
    order_id is NULL
order by
    customer_id
limit
    10;

### Exercise 3 - Revenue Per Customer
### Get the revenue generated by each customer for the month of 2014 January

+ Tables - orders, order_items and customers

+ Data should be sorted in descending order by revenue and then ascending order by customer_id

+ Output should contain customer_id, customer_first_name, customer_last_name, customer_revenue.

+ If there are no orders placed by customer, then the corresponding revenue for a give customer should be 0.

+ Consider only COMPLETE and CLOSED orders

In [ ]:
%%sql
SELECT 
    c.customer_id, 
    c.customer_fname, 
    c.customer_lname, 
    ROUND(COALESCE(SUM(oi.order_item_product_price), 0)::numeric, 2) AS revenue
FROM 
    customers c
LEFT JOIN 
    orders o
ON 
    c.customer_id = o.order_customer_id
LEFT JOIN 
    order_items oi
ON 
    o.order_id = oi.order_item_order_id
WHERE 
    (o.order_status IN ('COMPLETE', 'CLOSED') OR o.order_status IS NULL)
    AND (o.order_date IS NULL OR o.order_date BETWEEN '2014-01-01' AND '2014-01-31')
GROUP BY 
    c.customer_id, c.customer_fname, c.customer_lname
ORDER BY 
    revenue DESC, 
    c.customer_id ASC
LIMIT 10;

### Exercise 4 - Revenue Per Category
### Get the revenue generated for each category for the month of 2014 January

+ Tables - orders, order_items, products and categories

+ Data should be sorted in ascending order by category_id.

+ Output should contain all the fields from category along with the revenue as category_revenue.

+ Consider only COMPLETE and CLOSED orders

In [ ]:
%%sql
SELECT 
    ca.category_id, 
    ca.category_department_id, 
    ca.category_name, 
    ROUND(SUM(p.product_price)::NUMERIC, 2) AS category_revenue
FROM 
    categories ca
LEFT JOIN 
    products p
    ON ca.category_id = p.product_category_id
LEFT JOIN 
    order_items oi
    ON p.product_id = oi.order_item_product_id
LEFT JOIN 
    orders o
    ON oi.order_item_order_id = o.order_id
WHERE 
    o.order_status IN ('COMPLETE', 'CLOSED')
GROUP BY 
    ca.category_id, 
    ca.category_department_id, 
    ca.category_name
ORDER BY 
    ca.category_id
LIMIT 5;

In [ ]:
### Exercise 5 - Product Count Per Department
### Get the products for each department

Tables - departments, categories, products

Data should be sorted in ascending order by department_id

Output should contain all the fields from department and the product count as product_count